练习.css
*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    background: #F0F0F0;
    list-style-type: none;
}
.g-wrap1{
    width: 73%;
    margin: 0 auto;
    overflow: hidden;
}
.g-logo {
    display: block;
}
.clear{
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.box-input{
    margin-top: 20px;
}
.box-input input{
    width: 230px;
    height: 30px;
    border: 2px solid #37AD00;
    padding-left: 10px;
}
.box-p{
    width: 90px;
    height: 36px;
    background: #37AD00;
    display: inline-block;
    margin-top: 0px;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
}
.box-p span{
    display: inline-block;
    margin-top: 8px;
    margin-left: 15px;
}
.g-nav {
    background: #64b441;
}
.g-nav ul {
    overflow: hidden;
}
.g-nav li {
    padding: 0 20px;
    color: #fff;
    float: left;
}
.g-nav li a {
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    color: #fff;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.left-box{
    width: 15%;
}
.left-box img{
    margin-left: 60px;
    margin-top: 60px;
}
.wrapper{
    width: 980px;
    margin: 0 auto;
    background: #ffffff;
    margin-top: 15px;
}
.tu1-360 img{
    margin-left: 10px;
    margin-top: 10px;
}
.slider-desc {
    width: 290px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #fff;
    background: rgba(0,0,0,.5);
    text-align: center;
    overflow: hidden;
    margin-top: -37px;
    position: relative;
    margin-left: 10px;
}
.col-news{
    width: 390px;
}
.news-hot {
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}
.news-hot{
    margin-left: 20px;
}
.news-hot .hot{
    white-space: nowrap;
    margin-left: 70px;
}
.news-hot .hot a{
    font-size: 20px;
    color: red;
    font-weight: 600;
}
.news-hot span{
    font-size: 12px;
    color: #B5B4CA;
    display: block;
    margin-top: -15px;
}
.news-list {
    margin-top: 10px;
    margin-left: -17px;
}
.col-news .list {
    font-size: 14px;
    color: #333;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.col-news .list .topic {
    margin-right: 5px;
    color: #999;
}
.col-news .list .article{
    color: #000000;
}
.col-recommend {
    margin-left: 25px;
    width: 240px;
}
.recommend-title {
    color: #333;
    line-height: 2;
    font-size: 18px;
    margin-top: 15px;
}
.desc {
    font-size: 14px;
    line-height: 24px;
    color: #49b849;
}
.module-header{
    margin-left: 20px;
}
.module-content {
    margin-top: 10px;
}
.panel {
    position: relative;
    padding: 0 40px;
}
.bx-viewport{
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 110px;
}
.zt-slider{
    list-style: outside none none;
    position: relative;
    width: 114px;
    margin-right: 12px;
}
.zt-slider a {
    display: block;
}
.zt-slider-cover {
    width: 114px;
    height: 86px;
}
.zt-slider-desc {
    line-height: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline;
    font-size: 12px;
    color: #000000;
}
.pane-ad{
    margin-left: 203px;
    margin-top: 15px;
    margin-bottom: 30px;
}
#ft {
    border-top: 1px solid white;
    height: 40px;
    line-height: 40px;
    background: #DCDCDC;
    text-align: center;
    margin-top: 30px;
    font-size: 12px;
    overflow: hidden;
}
#ft a {
    color: #004276;
    font-size: 12px;
}