*{
    margin: 0;
    padding: 0;
}
body{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.header--mini {
    border-bottom: 2px solid #2bb8aa;
    min-width: 980px;
    color: #666;
}
.cf::after {
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.cf::after, .theme--maoyan_pianfang footer::before, q::after, q::before {
    content: '';
}
.header--mini .wrapper {
    margin: 0 auto;
    padding: 10px 0;
    width: 980px;
}
.theme--www .header--mini .site-logo {
    width: 128px;
    width: 54px;
    height: 36px;
    background-position: -669px -748px;
    background-image: url("images/meituan.png");
}
.header--mini .site-logo{
    text-indent: -1000px;
    overflow: hidden;
    width: 54px;
    height: 36px;
    background-position: -669px -748px;
    background-image: url("images/meituan.png");
}
.header--mini .site-logo, .header--mini .site-name {
    float: left;
}
.header--mini .login-block {
    float: right;
    line-height: 36px;
}
.login-block a{
    display: inline-block;
    background: #2EBDAF;
    padding: 3px 10px;
    color: #fff;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 4px;
}
.content{
    width: 980px;
    margin: 0 auto 30px;
    padding-top: 30px;
    min-height: 300px;
}
.form-field {
    position: relative;
    padding: 8px 0 8px 110px;
}
.form-field label {
    position: absolute;
    left: 0;
    width: 100px;
    padding-top: 6px;
    font-size: 14px;
    text-align: right;
    color: #333;
}
.form-field .f-text {
    width: 248px;
    height: 24px;
    padding: 5px;
    border: 1px solid #aaa;
    line-height: 24px;
    vertical-align: top;
}
.form-field .unitive-tip {
    display: inline-block;
    margin-left: 4px;
    padding: 6px 0;
    line-height: 24px;
    font-size: 12px;
    color: #999;
    vertical-align: top;
}
.form-field--vbtn {
    padding: 0 0 0 110px;
}
.form-field{
    position: relative;
}
.form-field--error .inline-tip, .form-field--ok .inline-tip, .form-field--type .inline-tip {
    color: #666;
}
.form-field .inline-tip {
    display: inline-block;
    margin-left: 4px;
    padding: 6px 0;
    line-height: 24px;
    font-size: 12px;
    color: #999;
    vertical-align: top;
}
.tip-status--opinfo {
    background-position: 0 -296px;
}
.tip-status {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 5px;
    overflow: hidden;
    vertical-align: -3px;
}
.form-field--error .inline-tip, .form-field--ok .inline-tip, .form-field--type .inline-tip {
    color: #666;
}
.form-field .inline-tip {
    line-height: 24px;
    font-size: 12px;
    color: #999;
}
.icon-status-sprite, .tip-status, .tip-status--error, .tip-status--large, .tip-status--large--error, .tip-status--large--opinfo, .tip-status--large--success, .tip-status--middle, .tip-status--middle--error, .tip-status--middle--opinfo, .tip-status--middle--success, .tip-status--opinfo, .tip-status--success {
    background-image: url("images/meituan1.png");
    background-repeat: no-repeat;
}
.btn-mini {
    padding: 1px 8px 0;
    font-size: 12px;
}
.btn-normal {
    color: #333;
    background-color: #dedede;
    border: 1px solid #e3e3e3;
    background-size: 100%;
    background-image: linear-gradient(to bottom,#f7f7f7,#dedede);
}
.btn-mini, .btn-small {
    font-weight: 400;
}
.btn, .btn-hot, .btn-normal {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
    letter-spacing: .1em;
    text-align: center;
    text-decoration: none;
    background-repeat: repeat-x;
    border-radius: 2px;
    -webkit-user-select: none;
    cursor: pointer;
}
input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.form-field {
    position: relative;
    padding: 8px 0 8px 110px;
}
.form-field .pw-strength {
    position: absolute;
    width: 260px;
    top: 50px;
    left: 110px;
    background: #eee;
}
.form-field .pw-strength .pw-strength__bar{
    background: #d3ebee;
    height: 20px;
    width: 0;
    overflow: hidden;
}
.form-field .pw-strength .pw-strength__letter {
    position: absolute;
    top: 0;
    left: 0;
}
.pw-strength__letter .pw-strength__label--noborder {
    border-right: 0px;
}
.form-field .pw-strength .pw-strength__letter .pw-strength__label {
    display: block;
    float: left;
    text-align: center;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    width: 85px;
    border-right: 1px solid #fff;
    color: #fff;
}
.form-field label {
    position: absolute;
    left: 0;
    width: 100px;
    padding-top: 6px;
    font-size: 14px;
    text-align: right;
    color: #333;
}
.form-field--pwd2{
    margin-top: 20px;
}
input[type="submit"]{
    background: #2DB8AA;
    border: none;
    width: 180px;
    line-height: 35px;
    color: #fff;
}
.term {
    position: relative;
    margin-left: 290px;
    top: -25px;
}
.fl{
    font-size: 13px;
    color: #2DBAAC;
}
.footer--mini {
    border-top: 1px solid #EEE;
    padding-top: 20px;
    text-align: center;
}
.footer--mini .copyright {
    font-size: 12px;
    font-family: initial;
}
.f2{
    font-size: 14px;
    color: #999999;
}
