*{
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    padding: 0;
    margin: 0;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clear{
    clear: both;
}
.wrap{
    width: 100%;
}
.wrap1{
    width: 70%;
    margin: 10px auto;
}
.wrap-1{
    margin-left: 200px;
    margin-top: 20px;
}
.wrap-1 input{
    width: 180px;
    padding: 5px;
    border: 1px solid #EA3939;
}
.wrap-1 p{
    padding: 4.5px 10px;
    background: #EA3939;
    font-size: 14px;
}
.wrap-2{
    margin-top: 20px;
}
.wrap-2 span{
    margin-left: 50px;
}
.w1{
    width: 100%;
    background: #EA3939;
    margin-top: 10px;
}
.w1-1{
    width: 70%;
    margin-left: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}
.w1-1 ul li{
    float: left;
    margin-right: 80px;
}
a{
    text-decoration: none;
}
.w1-1 ul li a{
    color: #fff;
    font-size: 12px;
}
.w2-img{
    width: 90%;
    margin: 0 auto;
}
.w2-img img{
    width: 100%;
}
.w2-1{
    width: 70%;
    margin: 0 auto;
}
.w2-left{
    width: 270px;
}
.w2-left h5{
    color: #EA3939;
    padding-bottom: 5px;
    border-bottom: 2px solid #EA3939;
}
.w2-left p{
    width: 260px;
    text-align: center;
    padding: 5px 5px;
    font-size: 12px;
    color: #EA3939;
    border-bottom: 1px solid #E1E1E1;
    background: #EFEFEF;
}
.w2-bottom{
    background: #EA3939;
    margin-top: 10px;
}
.w2-bottom h3{
    color: #fff;
    font-size: 14px;
    padding: 10px 10px;
}
.w2-bottom p{
    width: 250px;
    line-height: 25px;
    padding-bottom: 5px;
    background: #EA3939;
    color: #fff;
}
.w2-right{
    margin-left: 50px;
}
.w2-right1{
    width: 630px;
    border-bottom: 2px solid #000;
    display: inline-block;
    margin-left: 20px;
    padding: 2px 0;
}
.w2-right .w2-right1 h5{
    float: left;
}
.w2-right p{
    font-size: 11px;
    width:620px;
    border-bottom: 1px solid #ccc;
    display: inline-block;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 7px;
}


